# Service
PORT=8005
SERVICE_NAME=shops-service
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_HOST=localhost
DATABASE_PORT=5439
DATABASE_USER=shops_user
DATABASE_PASSWORD=shops_password
DATABASE_NAME=shops_db

# JWT (doit correspondre au JWT de l'Auth Service)
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=1h

# Kafka
KAFKA_BROKERS=localhost:9092,localhost:9093,localhost:9094
KAFKA_CLIENT_ID=shops-service

# Frontend
FRONTEND_URL=http://localhost:3000
