# Service
PORT=8004
SERVICE_NAME=cart-service
NODE_ENV=development

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT (must match Auth Service)
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=1h

# Kafka
KAFKA_BROKERS=localhost:9092,localhost:9093,localhost:9094
KAFKA_CLIENT_ID=cart-service

# Frontend
FRONTEND_URL=http://localhost:3000
