# Service
PORT=8002
SERVICE_NAME=articles-service
NODE_ENV=development

# Database (PostgreSQL)
DATABASE_HOST=localhost
DATABASE_PORT=5438
DATABASE_USER=articles_user
DATABASE_PASSWORD=articles_password
DATABASE_NAME=articles_db

# JWT (doit correspondre au JWT de l'Auth Service)
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=1h

# Kafka
KAFKA_BROKERS=localhost:9092,localhost:9093,localhost:9094
KAFKA_CLIENT_ID=articles-service

# Frontend
FRONTEND_URL=http://localhost:3000
